@import "normalize";
@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
@import "mixins";
@import "breakpoints";
@import "base";


body {
  font-family: 'Rubik', sans-serif;
  font-size: 13px;
  line-height: 1.7em;
  // font-weight: 300;
  position: relative;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.section-title {
  letter-spacing: 12px;
  margin-bottom: 25px;
}

.container {
  width: 60%;
  margin: auto;
}

.section {
  padding: 70px 0 10px;
  clear: both;
  &:after {
    content: "";
    display: table;
    clear: both;
  }

  h4>span.title-des {
    color: $gray;
    margin-left: 10px;
    border-left: 1px solid $gray;
    padding-left: 10px;
  }
}

.header {
  padding: 50px 0 30px;
  .logo {
    max-width: 140px;
    height: auto;
    float: left;
  }
}

.menu-container {
  position: relative;
}

.menu-trigger {
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    right: 0;
    z-index: 300;
    background: white;

    .line {
      width: 100%;
      display: inline-block;
      height: 1px;
      background: black;
      margin-top: 5px;
      position: relative;
      @include transition(all 0.2s ease-in);

      &:after {
        height: 1px;
        background: black;
        position: absolute;
        top: 9px;
        content: "";
        left: 0;
        width: 100%;
        @include transition(all 0.2s ease-in);
      }
    }

    .line.scape {
      @include transform(rotate(45deg));
      @include transition(all 0.2s ease-in);

      &:after {
        @include transform(rotate(90deg));
        @include transition(all 0.2s ease-in);
        top: 0;
      }
    }
}

.menu {
  position: absolute;
  right: -50px;
  z-index: 100;
  @include opacity(0);
  padding: 8px;
  visibility: hidden;
  background-color: white;
  @include transition(all 0.2s ease-in);
  @include transition(opacity 0.5s ease-out);
  text-transform: uppercase;
  letter-spacing: 5px;

  a {
    margin-right: 0px;
    text-decoration: none;
  }

  &.active {
    min-height: 50px;
    visibility: visible;
    right: 35px;
    @include opacity(1);
    @include transition(all 0.2s ease-in);
    @include transition(opacity 0.5s ease-in);

    a {
      margin-right: 30px;
      color: black;
      text-shadow: none;
      @include transition(all 0.2s ease-in);
    }
  }
}

.header-brief {
  margin-top: 50px;
  clear: both;
}


// GRID

.pr-th {
  width: 20%;
  float:left;
  position: relative;
  @include aspect-ratio(1, 1);
  overflow: hidden;
  background-color: #eaeaea;

  @media #{$desktop} {
    width: 20%;
  }

  @media #{$tablet} {
    width: 33.33333%;
  }

  .pr-th-img {
    position: relative;


    img {
      width: 101%;
      height: auto;
      transition: all .2s ease-in-out;
    }
  }

  .pr-th-des {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
    color: white;
    text-align: center;
    visibility: hidden;
    @include opacity(0);
    box-sizing: border-box;
  }

  &:hover {
    .pr-th-des {
      visibility: visible;
      @include opacity(1);
      padding: 40px 10px;
      @include transition(opacity 0.3s ease-in 0.3s);
    }

    .pr-th-img img {
      transform: scale(1.04);
    }
  }

}

// Home

/* About Section */

.links, .links-projects {

  margin-top: 30px;

  .button-simple {
    margin-right: 30px;
  }

  .button-primary {
    float: right;
    margin-top: 0;
  }
}

.links-projects {
  .button-primary {
    margin-top: 30px;
  }
}

.item-body {

  img {
    max-width: 100%;
  }
}



// FOOTER

.footer {
  background: black;
  color: white;
  padding: 60px 0 80px;
  margin-top: 50px;
  text-align: center;
  clear: both;

  .container {
    padding: 20px;
  }

  .isotype {
    width: 44px;
    display: block;
    margin: auto;
  }

  .cr {
    color: $dark-gray;
  }
}
