@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";



html, body {
  margin: 20px;
  h2{
    text-decoration:underline;
    color: red;
  }
}


#div {
  @include background(linear-gradient(red, green) left repeat);

}