.show-grid [class^=col-] {
    background-color: lighten(#30aae3, 40%);
    border: 1px solid #30aae3;
}

.row {
    clear: both;
    display: table;
    margin-bottom: 10px;

    [class^=col-] {
        padding: 5px;
    }
}

// CONTAINERS

.container {

  width: 100%;
  margin: auto;
  padding: 0 10px;

  @media #{$tablet} {
    width: 100%;
  }

  @media #{$desktop} {
    width: 70%;
    padding: 0;
  }

  @media #{$large-desktop} {
    width: 60%;
    padding: 0;
  }

  @media #{$extra-large-desktop} {
    width: 50%;
    padding: 0;
  }
}



//  $desktop: "(min-width: 992px) and (max-width: 1199px)";
// DEFAULT GRID FOR ALL VIEWS. Overwrite with other classess if you need to modify sizes for other viewports.

.col-sm-1 {
    width: 8.33333%;
    float: left;
}

.col-sm-2 {
    width: 16.66666%;
    float: left;
}

.col-sm-3 {
    width: 24.99999%;
    float: left;
}

.col-sm-4 {
    width: 33.3333%;
    float: left;
}

.col-sm-5 {
    width: 41.66666%;
    float: left;
}

.col-sm-6 {
    width: 50%;
    float: left;
}

.col-sm-7 {
    width: 58.333333%;
    float: left;
}

.col-sm-8 {
    width: 66.66666%;
    float: left;
}

.col-sm-9 {
    width: 74.99999%;
    float: left;
}

.col-sm-10 {
    width: 83.3333%;
    float: left;
}

.col-sm-11 {
    width: 91.66666%;
    float: left;
}

 .col-sm-12 {
    width: 100%;
    float: left;
    margin: auto;
}


/*  offsetSETS  */

.col-sm-offset-1 {
    margin-left: 8.33333%;
}

.col-sm-offset-2 {
    margin-left: 16.66666%;
}

.col-sm-offset-3 {
    margin-left: 24.99999%;
}

.col-sm-offset-4 {
    margin-left: 33.3333%;
}

.col-sm-offset-5 {
    margin-left: 41.66666%;
}

.col-sm-offset-6 {
    margin-left: 50%;
}

.col-sm-offset-7 {
    margin-left: 58.333333%;
}

.col-sm-offset-8 {
    margin-left: 66.66666%;
}

.col-sm-offset-9 {
    margin-left: 74.99999%;
}

.col-sm-offset-10 {
    margin-left: 83.3333%;
}

.col-sm-offset-11 {
    margin-left: 91.66666%;
}

.col-sm-offset-12 {
    margin-left: 100%;
}



//  $desktop: "(min-width: 992px) and (max-width: 1199px)";

@media #{$desktop} {
  .col-md-1 {
      width: 8.33333%;
      float: left;
  }

  .col-md-2 {
      width: 16.66666%;
      float: left;
  }

  .col-md-3 {
      width: 24.99999%;
      float: left;
  }

  .col-md-4 {
      width: 33.3333%;
      float: left;
  }

  .col-md-5 {
      width: 41.66666%;
      float: left;
  }

  .col-md-6 {
      width: 50%;
      float: left;
  }

  .col-md-7 {
      width: 58.333333%;
      float: left;
  }

  .col-md-8 {
      width: 66.66666%;
      float: left;
  }

  .col-md-9 {
      width: 74.99999%;
      float: left;
  }

  .col-md-10 {
      width: 83.3333%;
      float: left;
  }

  .col-md-11 {
      width: 91.66666%;
      float: left;
  }

   .col-md-12 {
      width: 100%;
      float: left;
      margin: auto;
  }


  /*  offsetSETS  */

  .col-md-offset-1 {
      margin-left: 8.33333%;
  }

  .col-md-offset-2 {
      margin-left: 16.66666%;
  }

  .col-md-offset-3 {
      margin-left: 24.99999%;
  }

  .col-md-offset-4 {
      margin-left: 33.3333%;
  }

  .col-md-offset-5 {
      margin-left: 41.66666%;
  }

  .col-md-offset-6 {
      margin-left: 50%;
  }

  .col-md-offset-7 {
      margin-left: 58.333333%;
  }

  .col-md-offset-8 {
      margin-left: 66.66666%;
  }

  .col-md-offset-9 {
      margin-left: 74.99999%;
  }

  .col-md-offset-10 {
      margin-left: 83.3333%;
  }

  .col-md-offset-11 {
      margin-left: 91.66666%;
  }

  .col-md-offset-12 {
      margin-left: 100%;
  }
}

//  $large-desktop: "(min-width: 1200px)";

@media #{$large-desktop} {

    /*  LARGE GRID */

    .col-lg-1 {
        width: 8.33333%;
        float: left;
    }

    .col-lg-2 {
        width: 16.66666%;
        float: left;
    }

    .col-lg-2--5 {
        width: 20%;
        float: left;
    }

    .col-lg-3 {
        width: 24.99999%;
        float: left;
    }

    .col-lg-4 {
        width: 33.3333%;
        float: left;
    }

    .col-lg-5 {
        width: 41.66666%;
        float: left;
    }

    .col-lg-6 {
        width: 50%;
        float: left;
    }

    .col-lg-7 {
        width: 58.333333%;
        float: left;
    }

    .col-lg-8 {
        width: 66.66666%;
        float: left;
    }

    .col-lg-9 {
        width: 74.99999%;
        float: left;
    }

    .col-lg-10 {
        width: 83.3333%;
        float: left;
    }

    .col-lg-11 {
        width: 91.66666%;
        float: left;
    }

     .col-lg-12 {
        width: 100%;
        float: left;
        margin: auto;
    }


    /*  offsetSETS  */

    .col-lg-offset-1 {
        margin-left: 8.33333%;
    }

    .col-lg-offset-2 {
        margin-left: 16.66666%;
    }

    .col-lg-offset-3 {
        margin-left: 24.99999%;
    }

    .col-lg-offset-4 {
        margin-left: 33.3333%;
    }

    .col-lg-offset-5 {
        margin-left: 41.66666%;
    }

    .col-lg-offset-6 {
        margin-left: 50%;
    }

    .col-lg-offset-7 {
        margin-left: 58.333333%;
    }

    .col-lg-offset-8 {
        margin-left: 66.66666%;
    }

    .col-lg-offset-9 {
        margin-left: 74.99999%;
    }

    .col-lg-offset-10 {
        margin-left: 83.3333%;
    }

    .col-lg-offset-11 {
        margin-left: 91.66666%;
    }

    .col-lg-offset-12 {
        margin-left: 100%;
    }
}


@media #{$extra-large-desktop} {

    /*  EXTRA LARGE GRID */

    .col-xlg-1 {
        width: 8.33333%;
        float: left;
    }

    .col-xlg-2 {
        width: 16.66666%;
        float: left;
    }

    .col-xlg-3 {
        width: 24.99999%;
        float: left;
    }

    .col-xlg-4 {
        width: 33.3333%;
        float: left;
    }

    .col-xlg-5 {
        width: 41.66666%;
        float: left;
    }

    .col-xlg-6 {
        width: 50%;
        float: left;
    }

    .col-xlg-7 {
        width: 58.333333%;
        float: left;
    }

    .col-xlg-8 {
        width: 66.66666%;
        float: left;
    }

    .col-xlg-9 {
        width: 74.99999%;
        float: left;
    }

    .col-xlg-10 {
        width: 83.3333%;
        float: left;
    }

    .col-xlg-11 {
        width: 91.66666%;
        float: left;
    }

     .col-xlg-12 {
        width: 100%;
        float: left;
        margin: auto;
    }


    /*  offsetSETS  */

    .col-xlg-offset-1 {
        margin-left: 8.33333%;
    }

    .col-xlg-offset-2 {
        margin-left: 16.66666%;
    }

    .col-xlg-offset-3 {
        margin-left: 24.99999%;
    }

    .col-xlg-offset-4 {
        margin-left: 33.3333%;
    }

    .col-xlg-offset-5 {
        margin-left: 41.66666%;
    }

    .col-xlg-offset-6 {
        margin-left: 50%;
    }

    .col-xlg-offset-7 {
        margin-left: 58.333333%;
    }

    .col-xlg-offset-8 {
        margin-left: 66.66666%;
    }

    .col-xlg-offset-9 {
        margin-left: 74.99999%;
    }

    .col-xlg-offset-10 {
        margin-left: 83.3333%;
    }

    .col-xlg-offset-11 {
        margin-left: 91.66666%;
    }

    .col-xlg-offset-12 {
        margin-left: 100%;
    }
}

//  $tablet: "(min-width: 768px) and (max-width: 991px)";

@media #{$tablet} {

    /*  SMALL GRID */

    .col-sm-1 {
        width: 8.33333%;
        float: left;
    }

    .col-sm-2 {
        width: 16.66666%;
        float: left;
    }

    .col-sm-3 {
        width: 24.99999%;
        float: left;
    }

    .col-sm-4 {
        width: 33.3333%;
        float: left;
    }

    .col-sm-5 {
        width: 41.66666%;
        float: left;
    }

    .col-sm-6 {
        width: 50%;
        float: left;
    }

    .col-sm-7 {
        width: 58.333333%;
        float: left;
    }

    .col-sm-8 {
        width: 66.66666%;
        float: left;
    }

    .col-sm-9 {
        width: 74.99999%;
        float: left;
    }

    .col-sm-10 {
        width: 83.3333%;
        float: left;
    }

    .col-sm-11 {
        width: 91.66666%;
        float: left;
    }

     .col-sm-12 {
        width: 100%;
        float: left;
        margin: auto;
    }

    /*  offsetSETS  */

    .col-sm-offset-1 {
        margin-left: 8.33333%;
    }

    .col-sm-offset-2 {
        margin-left: 16.66666%;
    }

    .col-sm-offset-3 {
        margin-left: 24.99999%;
    }

    .col-sm-offset-4 {
        margin-left: 33.3333%;
    }

    .col-sm-offset-5 {
        margin-left: 41.66666%;
    }

    .col-sm-offset-6 {
        margin-left: 50%;
    }

    .col-sm-offset-7 {
        margin-left: 58.333333%;
    }

    .col-sm-offset-8 {
        margin-left: 66.66666%;
    }

    .col-sm-offset-9 {
        margin-left: 74.99999%;
    }

    .col-sm-offset-10 {
        margin-left: 83.3333%;
    }

    .col-sm-offset-11 {
        margin-left: 91.66666%;
    }

    .col-sm-offset-12 {
        margin-left: 100%;
    }
}
