<h1>Edit</h1>
<form {{action 'editProject' model.id on='submit'}}>
  <p>Title: {{input type='text' valueBinding=model.title}}</p>
  <p>Description: {{input type='text' valueBinding=model.description}}</p>
  <p>
    {{input type='submit' value='submit'}}
  </p>
</form>
