{{#link-to 'projects.new'}} Add Projects {{/link-to}}
<h2> projects </h2>
{{#each model as |project|}}
  <ul>
    <li>{{project.id}}</li>
    <li>{{project.title}}</li>
    <li>{{project.description}}</li>
  </ul>
{{/each}}
{{outlet}}
