<div class="container">
  <h2> PROJECTS</h2>
</div>

{{#each model as |project|}}
  {{#link-to "projects.show" project.id}}
      <div class="pr-th">
        <div class="content">
          <div class="pr-th-img">
            <img src="{{project.thumb}}">
          </div>
          <div class="pr-th-des">
            {{project.title}}{{project.id}}
          </div>
        </div>
      </div>
    {{/link-to}}
  {{/each}}
{{outlet}}
