<br><br><br><div class="container">
  <h3 class="section-title">WORK</h3>
</div>

{{#each model as |project|}}
  {{#link-to "projects.show" project.id}}
      <div class="pr-th">
        <div class="content">
          <div class="pr-th-img">
            <img src="{{project.thumb}}">
          </div>
          <div class="pr-th-des">
            <h2>{{project.title}}</h2><br>
            TAGS:<br>
            {{#each project.tags as |tag|}}
                {{tag.tag}},
            {{/each}}
          </div>
        </div>
      </div>
    {{/link-to}}
  {{/each}}
