<br><br><br><div class="container">
  <h3 class="section-title"> ABOUT ME </h3>
  <p>
    Designer by heart, developer by choice and leader by nature. Since I started my professional career I’ve been passionate about the interaction of the left and right sides of the brain and how it can solve complex problems in simple and often clever ways. I started by writing my undergrad thesis on the factors that affect or promote creativity in graphic design then working in multiple roles such as graphic designer, art director, UI-UX Designer, to starting my own design studio and finally building myself a coding career as a front end developer.</p>
    <p>For lack of a more precise term for what I do, I’ve adopted the denomination of “PRODUCT DESIGNER”. In broader terms and in three words this can be described as “the entire process”. As a product designer my philosophy stands by these principles:</p>
    <ul>
      <li>-	Design or build something meaningful</li>
      <li>-	Use the right tools for the job</li>
      <li>-	Put humans at the center of the design process</li>
      <li>-	Facilitate an open line of communication</li>
      <li>-	Provide real value to people and stakeholders that can be measured</li>
    </ul>
    <p>These principles are based on the challenges I have and still face while working with organizations of all types of industries.</p>
</div>
