<section class="container">
  <header class="header" role="banner">
    <img class="logo" src="images/muro-logo-black.png">
    <div class="menu-container"{{action 'hideMenu' on='mouseLeave'}}>
      <a class="menu-trigger" {{action 'toggleMenu' on='click'}}>
        <span class="line"></span>
        <span class="line"></span>
      </a>
        <div class="menu {{if isShowingMenu 'active'}}">
          {{#link-to 'home'}}home{{/link-to}}
          {{#link-to 'projects'}}projects{{/link-to}}
        </div>
    </div><br><br>
    <p class="header-brief">
      Hello, I’m German. MURO is a canvas where I share my work and passion for all things design and tech, I’m a Chicago based product designer and front end developer.
    </p>
  </header>
</section>
{{outlet}}
<footer class="footer">
  <div class="container">
    I have a passion for solving problems. Visual or technical, I strive to provide solutions that are intuitive, creative and competitive,  providing value to the customer and bussiness alike.
    <h4>Have a project?</h4>
    {{#link-to 'projects'}}CONTACT ME{{/link-to}}
    <img class="isotype" src="images/muro-isotype-wt.png"><br><br><br>
    <p class="cr">Copyright German Cabezas 2016</p>
  </div>
</footer>
