<div class="container">
  <h3 class="section-title"> RECENT WORK</h3>
</div>
{{#each model as |project|}}
  {{#if project.recent}}
    {{#link-to "projects.show" project.id}}
        <div class="pr-th">
          <div class="content">
            <div class="pr-th-img">
              <img src="{{project.thumb}}">
            </div>
            <div class="pr-th-des"><br>
              <h2>{{project.title}}</h2><br>
              TAGS:
              {{#each project.tags as |tag|}}
                  {{tag.tag}},
              {{/each}}
            </div>
          </div>
        </div>
      {{/link-to}}
    {{/if}}
  {{/each}}
<div class="container">
  <div class="section">
    <h3 class="section-title">ABOUT</h3>
    <p>
      Playing a hybrid designer/developer role has open up the doors to a very versatile skill set. During my career I have worked as an art director, project manager, front-end developer, UI-UX and visual designer. My goal, to build meaningful products by using the right tools, making descisions that put humans at the center of the design process and facilitating an open line of communication between the building actors and components of the product.
    </p>
    <div class="links">
      <a href="https://github.com/germancabezas">Github</a>
      <a href="https://github.com/germancabezas">Github</a>
      <a href="https://github.com/germancabezas">Github</a>
      <a href="https://github.com/germancabezas">Github</a>
      <a href="https://github.com/germancabezas">VIEW RESUME</a>
    </div>
  </div>
  <div class="section">
    <h3 class="section-title">INVOLVEMENT</h3>
    <h4>Code Latino <span>Co-founder</span></h4>
    <p>
      CodeLatino's mission is to empower the Latino community to pursue careers in tech. By providing training and networking opportunities, we believe we can help narrow the diversity gap in the tech industry. As a co-founder I help develop events and partnerships that can promote CL's mission.
    </p>
  </div>
  <div class="section">
    <h3 class="section-title">lATEST</h3>
    <div class="post">
      <h4>Custom Components Library with bourbon</h4>
      <p>
        Long ago I discovered <a href=http://bourbon.io/>bourbon</a> A simple and lightweight mixin library for Sass. Ever since, I wanted to create library built on bourbon that could be customizable in order to implement brand elements more efficiently. This is my attempt to improve that process, I hope it helps some designers and developers out there.
      </p>
    </div>
  </div>
</div>
