<div class="container">
  <p class="header-brief">
    Hello, I’m German. MURO is a canvas where I share my work and passion for all things design and tech, I’m a Chicago based product designer and front end developer.
  </p>
</div>
<div class="container">
  <h3 class="section-title"> HOME</h3>
</div>
{{#each model as |project|}}
  {{#if project.recent}}
    {{#link-to "projects.show" project.id}}
        <div class="pr-th">
          <div class="content">
            <div class="pr-th-img">
              <img src="{{project.thumb}}">
            </div>
            <div class="pr-th-des"><br>
              <h2>{{project.title}}</h2><br>
              TAGS:
              {{#each project.tags as |tag|}}
                  {{tag.tag}},
              {{/each}}
            </div>
          </div>
        </div>
      {{/link-to}}
    {{/if}}
  {{/each}}
  <div class="container links-projects">
    {{#link-to "projects" class="button-primary"}}VIEW ALL{{/link-to}}
  </div>
<div class="container">
  <div class="section">
    <h3 class="section-title">ABOUT</h3>
    <p>
      Designer by heart, developer by choice and leader by nature. Since I started my professional career I’ve been passionate about the interaction of the left and right sides of the brain and how it can solve complex problems in simple and often clever ways. I started by writing my undergrad thesis on the factors that affect or promote creativity in graphic design then working in multiple roles such as graphic designer, art director, UI-UX Designer, to starting my own design studio and finally building myself a coding career as a front end developer.
      {{#link-to "about"}}...{{/link-to}}
    </p>
    <div class="links">
      <a class="button-simple" href="https://github.com/germancabezas">Github</a>
      <a class="button-simple" href="https://github.com/germancabezas">Linkedin</a>
      <a class="button-simple" href="https://github.com/germancabezas">Twitter</a>
      <a class="button-simple" href="https://github.com/germancabezas">Behance</a>
      {{#link-to "about" class="button-primary"}}VIEW RESUME{{/link-to}}
    </div>
  </div>
  <div class="section">
    <h3 class="section-title">INVOLVEMENT</h3>
    <h4>Code Latino <span class="title-des">Co-founder</span></h4>
    <p>
      CodeLatino's mission is to empower the Latino community to pursue careers in tech. By providing training and networking opportunities, we believe we can help narrow the diversity gap in the tech industry. As a co-founder I help develop events and partnerships that can promote CL's mission.
    </p>
  </div>
  <div class="section">
    <h3 class="section-title">lATEST</h3>
    <div class="post">
      <h4>Custom Components Library with bourbon</h4>
      <p>
        Long ago I discovered <a href=http://bourbon.io/>bourbon</a> A simple and lightweight mixin library for Sass. Ever since, I wanted to create library built on bourbon that could be customizable in order to implement brand elements more efficiently. This is my attempt to improve that process, I hope it helps some designers and developers out there.
      </p>
    </div>
  </div>
</div>
